<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<div class="banner">Welcome to UNO</div>
<h1>Login</h1>

<form action="/auth/login" method="POST" novalidate>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
    </div>
    <button type="submit">Login</button>
</form>

<p class="info-text">Don't have an account? <a href="/auth/register">Register here</a></p>
<%- include('partials/scripts', { error }) %>
</body>
</html>